<h1 class="page-header">申請列表</h1>

<form class="form-inline" action="/list" method="GET">
  <div class="form-group">
    <label for="start">起始日期</label>
    <input type="text" name="start" class="form-control" id="start" placeholder="2016-01-01" value="<%= req.allParams().start || '' %>" />
  </div>
  <div class="form-group">
    <label for="end">結束日期</label>
    <input type="text" name="end" class="form-control" id="end" placeholder="2016-05-31" value="<%= req.allParams().end || '' %>" />
  </div>
  <button type="submit" class="btn btn-default">查詢</button>
</form>
<p>&nbsp;</p>
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">列表</div>
  <!-- Table -->
  <table class="table">
    <tbody>
      <tr>
        <th>編號</th>
        <th>申請人</th>
        <th>日期</th>
        <th>時間</th>
      </tr>
    </tbody>
    <% _.forEach(rows, function(value, key) { %>
    <tr>
      <td><%= (key + 1) %></td>
      <td><%= value.owner.username %></td>
      <td><%= value.getDate() %></td>
      <td><%= value.getTime() %></td>
    </tr>
    <% }); %>
  </table>
</div>
